*{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
}

body {
       width: 100vw;
       max-width: 100%;
       height: 100%;
}
a{
       text-decoration: none;
}
li{
       list-style: none;
}
main{
       width: 100%;
       height: 100%;
}

:root {
       --azulmedio: #001D3D;
       --azuloscuro: #000814;
       --azulclaro: #003566;
       --amarillooscuro: #FFC300;
       --amaeilloclaro: #FFD60A;
}

header{
       display: flex;
       justify-content: center;
       background-color: var(--azuloscuro);
       
       
}

/*  Menu  */
nav{
       width: 100%;
       height: 180px;
       top: 0;
       background: var(--azuloscuro);
       z-index: 100;
}

div.nav{
       width: 100%;
       display: flex;
       flex-direction: row;
       justify-content: space-around;
       align-items: center;
       padding-top: 3rem;
}

.logo{
       width: 6rem;
}

/* Menu desplegable cuando hago hoover sobre el mismo*/
nav:hover{

       }

/* Menu hamburguesa */
/* apretar el baricon */
ul.menu{
       display: none;
}
input:checked ~ ul.menu{
       display: block;
}


input{
       
       display: none;
}

i.fa-solid.fa-bars {
       box-sizing: border-box;
       position: fixed;
       font-weight: 800;
       color: white;
       font-size: 50px;
 
}

/* Estilo cuando el menu esta desplegado*/

ul.menu{
       margin-top: 0;
       padding: 0;
       float:left;
       position: fixed;
       width: 100%;
       top: 180px;

       /*box-shadow: 0 0 20px 20px #FFC300;*/
}

li{
       display: block;
       background: #0008143d;
       width: 100%;
       margin: 0;
       padding: 10px;
       text-align: center;
}
 a{
       font-family: 'Rajdhani', sans-serif;
       font-weight: 600;
        color: white;
        text-align: center;
        font-size: 30px;
 }

 /* Text transform cuando hay hoover*/
a:hover{
       color: #FFD60A;
}

/*Posicionar el main descontanto la altura del nav*/
main{
       position: relative;
       /*top:180px;*/
}

/*  Inicio seccion inicio  */
.seccioninicio{
       background-color: var(--azuloscuro);
       display: flex;
       justify-content: center;
       align-items: center;
       height: 100vh;
}
.cajatexto{
       width: 60%;
       color: white;
       margin-bottom: 15rem;
}

.cajatexto h1{
       font-family: 'Abril Fatface', cursive;
       font-weight: 300;
       font-size: 2.5rem;
       text-shadow: 6px 3px  #FFC300;
}
.cajatexto h2{
       font-family: 'Rajdhani', sans-serif;
       font-weight: 700;
       font-size: 2rem;
}

/* Fin seccion inicio*/

/* Inicio seccion sobre mi*/

.seccionsobremi {
       background-color:white;
       width: 100%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       box-shadow: 0 0 40px 40px white;
}

.cajacontenedor{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       width: 90%;

       margin-top: 10rem;
}

.fondocolor{
       background-color: var(--amarillooscuro);
       height: 14rem;
       width: 12rem;
       border-top-left-radius: 50%;
       border-top-right-radius: 50%;
       border-bottom-left-radius: 50%;
       border-bottom-right-radius: 50%;
       display: flex;
       justify-content: center;
       /*box-shadow: 0 0 10px  var(--azuloscuro);*/
       border: solid 3px #FFC300;
       margin-top: 3rem;
      
}

.fondocolor img.fotomia{
       border-bottom-left-radius: 50%;
       border-bottom-right-radius: 50%;
       width: 100%;

}

.cajatextosobremi{
       margin-top: 5rem;
       margin-bottom: 4rem;
       width: 80%;
       background-color: white;
       display: flex;
       flex-direction: column;
       justify-content: center;
}
.cajatextosobremi i.fa-solid.fa-quote-left {
       align-self: flex-start;
}

.cajatextosobremi i.fa-solid.fa-quote-right {
       align-self: flex-end;
}

.cajatextosobremi p{
       align-self: center;
       text-align: justify;
       font-family: 'Rajdhani', sans-serif;
       font-weight: 500;
       font-size: 1.3rem;
       margin: 2rem;
}
.cajatextotecnologia{
       margin-top: 3rem;
       margin-bottom: 3rem;
       width: 90%;
}

.cajatextotecnologia p{
       text-align: center;
       font-family: 'Rajdhani', sans-serif;
       font-weight: 700;
       font-size: 1.7rem;
       color: black;
}

.cajatextotecnologia div.iconos{
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
       margin-top: 1rem;
}

.cajatextotecnologia a{
       padding: .5rem;
       color: var(--amarillooscuro);
}

/* Fin seccion sobre mi*/

@media (min-width:1024px) {
     /*  Inicio seccion inicio  */

.cajatexto{
       width: 60%;

}

.cajatexto h1{
       font-size: 6rem;
}
.cajatexto h2{

       font-size: 3rem;
}  

/* Inicio seccion sobre mi*/

.cajatextosobremi p{
       font-size: 2rem;
}
.cajatextotecnologia{
       margin-top: 3rem;
       margin-bottom: 2rem;
}

.cajatextotecnologia p{
       font-size: 2.5rem;

}

.cajatextotecnologia a{
       padding: 1rem;
       color: var(--amarillooscuro);
}

.cajatextotecnologia a img{
       height: 40px;
}
}

@media (min-width:2560px) {
/*Inicio del nav y menu*/
.logo{
       width: 8rem;
}
i.fa-solid.fa-bars {
       font-size: 60px;
 
}
/*Fin nav*/

/*  Menu desplegado, items  */
 a{
       font-size: 50px;
 }

/*  Inicio seccion inicio  */

.cajatexto{
       width: 60%;

}

.cajatexto h1{
       font-size: 8rem;
}
.cajatexto h2{

       font-size: 4rem;
} 
/* Fin secccion inicio */ 

/* Inicio seccion sobre mi*/

.seccionsobremi {
       height: 100vh;
}

.cajacontenedor{
       flex-direction: row-reverse;
       flex-wrap: wrap;
       justify-content:space-around;
}

/* Imagen mia con foto amarillo */
.fondocolor{
       background-color: var(--amarillooscuro);
       height: 28rem;
       width: 26rem;      
}

.cajatextosobremi{
       width: 50%;
}

/*  Inicio iconos son las comillas   */
.cajatextosobremi i.fa-solid.fa-quote-left {
       font-size: 40px;
}

.cajatextosobremi i.fa-solid.fa-quote-right {
       font-size: 40px;
}
/*  Fin iconos de las comillas    */

.cajatextosobremi p{
       font-size:3rem;

}

.cajatextotecnologia p{
       font-size: 3rem;
       color: var(--azuloscuro);
}

.cajatextotecnologia a{
       padding: 1rem;
       color: var(--amarillooscuro);
}
/* Modifico el taaño de los iconos herramientas, que estan como img y no como i   */
.cajatextotecnologia a img{
       height: 77px; 
}

/* Fin seccion sobre mi*/
}
