*{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
}

body {
       width: 100vw;
       max-width: 100%;
       height: 100%;
}
a{
       text-decoration: none;
}
li{
       list-style: none;
}
main{
       width: 100%;
       height: 100%;
}

:root {
       --azulmedio: #001D3D;
       --azuloscuro: #000814;
       --azulclaro: #003566;
       --amarillooscuro: #FFC300;
       --amaeilloclaro: #FFD60A;
}

header{
       display: flex;
       justify-content: center;
       padding: 3rem 0 3rem 0;
       background-color: var(--azuloscuro);
       
}

/*  Menu  */
nav{
       width: 90%;
       top: 0;

}

div.nav{
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       align-items: center;
}

.logo{
       width: 6rem;
}

/* Menu hamburguesa */
/* apretar el baricon */
.menu{
       display: none;
}
input:checked ~ .menu{
       display: block;
}


input{
       position:relative;
       display: none;
}

i.fa-solid.fa-bars {
       box-sizing: border-box;
       display: flex;
       font-weight: 800;
       color: white;
       font-size: 50px;
           
}

/* Estilo cuando el menu esta desplegado*/

.menu{
       margin-top: 0;
       padding: 0;
       width: 90%;
       /*box-shadow: 0 0 20px 20px #FFC300;*/
}

li{
       display: block;
       background: #000814;
       width: 100%;
       margin: 0;
       padding: 10px;
       text-align: center;
}
 a{
       font-family: 'Rajdhani', sans-serif;
       font-weight: 600;
        color: white;
        text-align: center;
        font-size: 30px;
 }

 /* Text transform cuando hay hoover*/
a:hover{
       color: #FFD60A;
}



/*  Inicio seccion inicio  */
.seccioninicio{
       background-color: var(--azuloscuro);
       display: flex;
       justify-content: center;
       align-items: center;
       height: 100vh;
}
.cajatexto{
       width: 60%;
       color: white;
       margin-bottom: 17rem;
}

.cajatexto h1{
       font-family: 'Abril Fatface', cursive;
       font-weight: 300;
       font-size: 2.5rem;
       text-shadow: 6px 3px  #FFC300;
}
.cajatexto h2{
       font-family: 'Rajdhani', sans-serif;
       font-weight: 700;
       font-size: 2rem;
}

/* Fin seccion inicio*/

/* Inicio seccion sobre mi*/

.seccionsobremi {
       background-color:white;
       width: 100%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       box-shadow: 0 0 40px 40px white;
}

.cajacontenedor{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       width: 90%;
       margin: 1rem;
}

.fondocolor{
       background-color: var(--amarillooscuro);
       height: 14rem;
       width: 12rem;
       border-top-left-radius: 50%;
       border-top-right-radius: 50%;
       border-bottom-left-radius: 50%;
       border-bottom-right-radius: 50%;
       display: flex;
       justify-content: center;
       /*box-shadow: 0 0 10px  var(--azuloscuro);*/
       border: solid 3px #FFC300;
       margin-top: 3rem;
      
}

.fondocolor img.fotomia{
       border-bottom-left-radius: 50%;
       border-bottom-right-radius: 50%;
       width: 100%;

}

.cajatextosobremi{
       margin-top: 5rem;
       margin-bottom: 4rem;
       width: 80%;
       background-color: white;
       display: flex;
       flex-direction: column;
       justify-content: center;
}
.cajatextosobremi i.fa-solid.fa-quote-left {
       align-self: flex-start;
}

.cajatextosobremi i.fa-solid.fa-quote-right {
       align-self: flex-end;
}

.cajatextosobremi p{
       align-self: center;
       text-align: justify;
       font-family: 'Rajdhani', sans-serif;
       font-weight: 500;
       font-size: 1.3rem;
       margin: 2rem;
}
.cajatextotecnologia{
       margin-top: 3rem;
       margin-bottom: 3rem;
       width: 90%;
}

.cajatextotecnologia p{
       text-align: center;
       font-family: 'Rajdhani', sans-serif;
       font-weight: 700;
       font-size: 1.7rem;
       color: black;
}

.cajatextotecnologia div.iconos{
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
       margin-top: 1rem;
}

.cajatextotecnologia a{
       padding: .5rem;
       color: var(--amarillooscuro);
}

/* Fin seccion sobre mi*/

@media (min-width:1024px) {
     /*  Inicio seccion inicio  */

.cajatexto h1{
       font-size: 3.5rem;
}
.cajatexto h2{

       font-size: 3rem;
}  

/* Inicio seccion sobre mi*/

.cajatextosobremi p{
       font-size: 2rem;
}
.cajatextotecnologia{
       margin-top: 3rem;
       margin-bottom: 2rem;
}

.cajatextotecnologia p{
       font-size: 2.5rem;

}

.cajatextotecnologia a{
       padding: 1rem;
       color: var(--amarillooscuro);
}

.cajatextotecnologia a img{
       height: 40px;
}
}